%cooper {
    font-family: cooper-black-std, 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
}
%roboto {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}
// %mont {
//     font-family: 'Montserrat', sans-serif;
//     font-weight: normal;
// }