%cooper {
    font-family: cooper-black-std, sans-serif;
    font-style: normal;
    font-weight: bold;
}
%roboto {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}