$white: #fff;
$lblue: #00EEFF;
$dblue: #0066FF;
$ddblue: #19195C;
$black: #111;
$grad-blue: transparent linear-gradient(180deg, #444491 0%, #19195C 35%, #01013F 60%, #19195C 90%, #444491 100%) 0% 0% no-repeat padding-box;
$bgdark: #111;
$bglight: #ecf0f3;
